# Never share .idea
/.idea/

# Directories that might contain runtime builds or other things we don't want to share
/run/
/out/

# Gradle build and .gradle directories
/.gradle/
/*/.gradle/
/build/
/*/build/

# Local Gradle settings file
local.settings.gradle.kts