# Never share .idea
/.idea/

# Directories that might contain runtime builds or other things we don't want to share
/run/
/out/

# Directories used by Gradle
/.gradle/
/build/
/*/build

# .gradle in ./buildSrc
/buildSrc/.gradle

# Local gradle settings file
local.settings.gradle.kts